#body-id{
    background-image: url(../../assets/donor-land.jpg);
}
.cause-container{
    flex-wrap: wrap
}

.causecards{
    flex-wrap: wrap
}

.causes{
    text-align: center;
}

.recommend{
    text-align: center;
}

.navLinks{
    background-color:rosybrown;
}

button{
    width:100px;
    height: 30px;
    border-radius: 15px;
    background-color:darkgoldenrod ;
    color:white;
}

h2{
    color: red
}

