.cause-card {
    margin: 15px;
    max-height: 200px;
    min-width: 100px;
}

.cause-card:hover {
    box-shadow: 10px 10px 10px black;
}

button {
    font-size: 30px;
    margin: 5px;
}

button:hover {
    box-shadow: 5px 5px black;
}