.cause-card {
    max-width: 400px;
    padding-left: 20px
  }
  
  .details
  {
    padding-right:300px;
    padding-left: 500px;
    float: right;
    padding-top: 100px;
    position: absolute;
    top: 0px;
    left: 100px;
    margin-left: 200px;
  }
  .background
  {
    background-image: url(../../assets/donation-land.jpg);
    background-size: cover;
    
  }
  .button
  {
    padding-left: 20px;
    padding: 10px;
  }