<div class="back">


  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      
  
    <mdb-carousel-item>
   <div class="view w-100">
      <img class="d-block w-100 h-80" src="../../assets/slide1-new.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Fundraising is the gentle art of teaching the joy of giving.
          -Hank Rosso</h3>
       
      </div>
    </mdb-carousel-item>
  
    <mdb-carousel-item>
        <div class="view w-100">
      <img class="d-block w-100 h-80" src="../../assets/home-new.jpg" alt="Second slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">No one has ever become poor by giving. – Anne Frank</h3>
    
    </div>
    </mdb-carousel-item>
  
    <mdb-carousel-item>
        <div class="view w-100">
      <img class="d-block w-100 h-80" src="../../assets/slide3-new.jpg" alt="Third slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">In good times and bad, we know that people give because you meet needs, not because you have needs.
        -Kay Sprinkel Grace</h3>
    
    </div>
   
    </mdb-carousel-item>
  
    <mdb-carousel-item>
        <div class="view w-100">
      <img class="d-block w-100 h-80" src="../../assets/slide4-new.jpg" alt="Second slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Donor loyalty is not about the donor being loyal to you, it is you being loyal to the donor. – Harvey McKinnon</h3>
     
    </div>
    </mdb-carousel-item>
  
  <mdb-carousel-item>
      <div class="view w-100">
      <img class="d-block w-100 h-80" src="../../assets/slide2.jpg" alt="Second slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">If you need to raise funds from donors, you need to study them, respect them, and build everything you do around them. – Jeff Brooks</h3>
      
    </div>
    </mdb-carousel-item> 
  </mdb-carousel>
  
  
  
  
  
  
  <h2 class="causes">Causes you can raise funds for</h2>
  
  
  <!-- <section class="container p-t-3">
      <div class="row">
          <div class="col-lg-12">
              <h1>Bootstrap 4 Card Slider</h1>
          </div>
      </div>
  </section> -->
  
  <section class="main">
   <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
     [animation]="'slide'">
     <mdb-slide>
       <div class="col-md-4 clearfix d-none d-md-block">
         <mdb-card cascade="true" narrower="true" class="card-ecommerce">
           <div class="view view-cascade overlay waves-light" mdbWavesEffect>
             <mdb-card-img class="cause-image" src="../../assets/car1.jpg"
               alt=" flood" width="150px" height="100px"></mdb-card-img>
           </div>
           <mdb-card-body cascade="true" class="text-center no-padding">
             <a href="" class="text-muted">
             </a>
             <mdb-card-title>
               <h4 class="card-title my-4">
                 <strong>
                   <a href="">Floods in Karnataka</a>
                 </strong>
               </h4>
             </mdb-card-title>
           </mdb-card-body>
         </mdb-card>
       </div>
       <div class="col-md-4 clearfix d-none d-md-block">
         <mdb-card cascade="true" narrower="true" class="card-ecommerce">
           <div class="view view-cascade overlay waves-light" mdbWavesEffect>
             <mdb-card-img class="cause-image"   src="../../assets/car3.jpg"
               alt="health photo"></mdb-card-img>
             <a>
               <div class="mask waves-effect waves-light"></div>
             </a>
           </div>
           <mdb-card-body cascade="true" class="text-center no-padding">
             <a href="" class="text-muted"></a>
             <mdb-card-title>
               <h4 class="card-title my-4">
                 <strong>
                   <a href="">Health</a>
                 </strong>
               </h4>
             </mdb-card-title>
           </mdb-card-body>
          </mdb-card> 
        </div>
       <div class="col-md-4 clearfix d-none d-md-block">
         <mdb-card cascade="true" narrower="true" class="card-ecommerce">
           <div class="view view-cascade overlay waves-light" mdbWavesEffect>
             <mdb-card-img class="cause-image" src="../../assets/2.jpeg" alt="sample photo"></mdb-card-img>
             <a>
               <div class="mask waves-effect waves-light"></div>
             </a>
           </div>
           <mdb-card-body cascade="true" class="text-center no-padding">
             <a href="" class="text-muted">
               <h5></h5>
             </a>
             <mdb-card-title>
               <h4 class="card-title my-4">
                 <strong>
                   <a href="">Orphanage</a>
                 </strong>
               </h4>
             </mdb-card-title>
           </mdb-card-body>
         </mdb-card>
       </div>
     </mdb-slide>
   <mdb-slide>
       <div class="col-md-4">
         <mdb-card cascade="true" narrower="true" class="card-ecommerce">
           <!--Card image-->
           <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img class="cause-image" src="../../assets/4.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <mdb-card-body cascade="true" class="text-center no-padding">
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Disability</a>
                  </strong>
                </h4>
              </mdb-card-title>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img class="cause-image" src="../../assets/car5.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <mdb-card-body cascade="true" class="text-center no-padding">
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Deaf People</a>
                  </strong>
                </h4>
              </mdb-card-title>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img class="cause-image" src="../../assets/6.jpeg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Hunger</a>
                  </strong>
                </h4>
              </mdb-card-title>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
      </mdb-slide>
      <mdb-slide>
        <div class="col-md-4">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img class="cause-image" src="../../assets/7.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <mdb-card-body cascade="true" class="text-center no-padding">
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Animal</a>
                  </strong>
                </h4>
              </mdb-card-title>
            </mdb-card-body>
            <!--Card content-->
   </mdb-card>
          <!--Card-->
        </div>
   <div class="col-md-4 clearfix d-none d-md-block">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img class="cause-image"src="../../assets/2.jpeg" alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <mdb-card-body cascade="true" class="text-center no-padding">
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Orphanage</a>
                  </strong>
                </h4>
              </mdb-card-title>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <!--Card-->
          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img class="cause-image" src="../../assets/car1.jpg"
                alt="sample photo"></mdb-card-img>
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="text-center no-padding">
              <!--Category & Title-->
              <mdb-card-title>
                <h4 class="card-title my-4">
                  <strong>
                    <a href="">Floods</a>
                  </strong>
                </h4>
              </mdb-card-title>
            </mdb-card-body>
            <!--Card content-->
          </mdb-card>
          <!--Card-->
        </div>
      </mdb-slide>
      <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
   </section>
   <!--Section: Products v.5-->
  
  
   </div>
   