.back{
    background:whitesmoke
}

.header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic
}

.searchbox{
    background-color: brown
}

.chatbox{
    background-color: blanchedalmond
}
.cause-image
{
    width:640px;
    height:360px;
}

.cause-container{
    flex-wrap: wrap
}

.causecards{
    flex-wrap: wrap
}

.causes{
    text-align: center;
}

h2{
    font-family: 'Satisfy', cursive;
    margin-top: 120px; 
}



h3{
    font-family: 'Chilanka', cursive;
    background-color: coral;
    color:white;
}


.main
{
    text-align: center;
    margin-top:35px;
    overflow-x:hidden;
}




